/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

body{
margin: 0;
padding: 0;
}

.main{
	display: flex;
	flex-wrap: wrap;
}

header{
	height: 20vh;
	width: 100vw;
}
nav,aside{
	height: 60vh;
	width: 20vw;
}
article{
	height: 60vh;
	flex-grow: 1;
}
footer{
	height: 20vh;
	width: 100vw;
}

