/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

.kontejner{
	display: flex;
	flex-direction: column ;
			
}
.Hlavicka{
	flex-grow: 1;
	
}
.Paticka{
	flex-grow: 1;

	  }

.main {
	display: flex;
	align-items: stretch;
	
	
     
}	
article{
	flex-grow: 1;
	flex-basis: 60%;
	
}
aside,
nav{
	flex-grow: 2;
	flex-basis: 20%;
}







